* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba#1f1f3b;
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.main-container {
  max-width: 1000px;
  margin: 140px auto 40px auto;
}

.main-header {
  text-align: center;
  margin-bottom: 40px;
}

.main-header h1 {
  font-size: 36px;
  color: gold;
}


.letter-block {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-section{
  background-color: rgba(255, 255, 255, 0.05);
  padding: 25px;
  color: #ccc;
  border-radius: 10px;
  margin-bottom: 40px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.main-section:hover,
.letter-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.main-section h2,
.letter-block h2 {
  color: #00d4ff;
  margin-bottom: 15px;
}

.main-section p,
.letter-block p {
  line-height: 1.8;
  font-size: 16px;
  color: #ccc;
}

.letter-block {
  color: #ddd;
  border-left: 4px solid gold;
  line-height: 1.7;
}

.signature {
  margin-top: 20px;
}

.signature img {
  width: 180px;
  border-radius: 4px;
}

