* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color:#1f1f3b;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: wheat;
  }

  .company-title {
text-align: center;
margin-bottom: 40px;
}

.title .top {
display: block;
font-size: 20px;
letter-spacing: 1px;
margin-right: 25%;
color: gold;
font-weight: 500;
}

.title .main {
display: block;
font-size: 40px;
font-weight: bold;
display: inline-block;

color: #FFD700;
letter-spacing: 2px;
text-shadow: 0 0 8px rgba(255, 215, 0, 0.6);
}

.title .guide {
display: block;
margin-top: 10px;
font-size: 12px;
color: #ffdb58;
font-weight: 500;
letter-spacing: 1px;
display: inline-block;


}

  .title  {
    padding: 30px 40px;
    /* margin-left: 10%; */
    text-align: center;
    /* display: inline-block; */
  }

  .intro {
font-size: 18px;
line-height: 1.8;
margin-bottom: 30px;
padding: 15px 20px;
background-color: #1a1a2e;
border-left: 5px solid orange;
width: 80%;
margin: auto;
margin-top: 57px;
border-radius: 6px;
box-shadow: 0 0 10px rgba(255, 165, 0, 0.2);
}

  h1 {
    font-size: 36px;
    border-left: 5px solid wheat;
    padding-left: 15px;
    margin-bottom: 20px;
  }

  .section {
    background-color: #1b1b34;
    border: 1px solid orange;
    border-radius: 10px;
    padding: 20px;
    margin: 75px 54px -30px;
    transition: 0.3s;
  }

  .section:hover {
    transform: scale(1.02);
    background-color: #222;
  }

  .section h2 {
    color: #ffd700;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .section p {
    font-size: 16px;
    line-height: 1.7;
  }

  .emoji {
    font-size: 22px;
    margin-right: 8px;
  }